<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fr06_Render>
            <version>0.1.0</version>
        </Fr06_Render>
    </modules>
	<frontend>
        <routers>
            <render>
                <use>standard</use>
                <args>
                    <module>Fr06_Render</module>
                    <frontName>fr06-render</frontName>
                </args>
            </render>
        </routers>
		<layout>
			<updates>
				<render>
					<file>render.xml</file>
				</render>
			</updates>
		</layout>
    </frontend>
	<global>
		<blocks>
            <logo>
                <class>Fr06_Render_Block_Html</class>
            </logo>
            <banner>
                <class>Fr06_Render_Block_Html</class>
            </banner>
			<a>
                <class>Fr06_Render_Block</class>
            </a>
            <banner>
                <class>Fr06_Render_Block</class>
            </banner>
            <b>
                <class>Fr06_Render_Block</class>
            </b>
            <c>
                <class>Fr06_Render_Block</class>
            </c>
            <d>
                <class>Fr06_Render_Block</class>
            </d>
            <slider>
                <class>Fr06_Slider_Block</class>
            </slider>
		</blocks>
	</global>
</config>