.col-box-3 {
  padding: 40px;
  border: solid 1px #cddcdc;
  min-width: 300px;
  min-height: 250px;
  margin:auto;
  text-align: center;
}
.btn {
    margin-left: 20px;
}
.notification {
    text-align: center;
    background: #cdccdcd;

}
.ip_btn_right {
  float:right;
  padding-right: 75px;
}
