<?xml version="1.0"?>
<config>
    <modules>
        <Fr06_Sintax>
            <version>0.1.0</version>
        </Fr06_Sintax>
    </modules>

    <global>
        <models>
            <sintax>
                <class>Fr06_Sintax_Model</class>
                <resourceModel>sintax_mysql4</resourceModel>
            </sintax>
            <sintax_mysql4>
                <class>Fr06_Sintax_Model_Mysql4</class>
            </sintax_mysql4>
        </models>
        <blocks>
            <sintax>
                <class>Fr06_Sintax_Block</class>
            </sintax>
        </blocks>
        <helpers>
            <sintax>
                <class>Fr06_Sintax_Helper</class>
            </sintax>
        </helpers>
    </global>

    <admin>
        <routers>
            <sintax>
                <use>admin</use>
                <args>
                    <module>Fr06_Sintax</module>
                    <frontName>sintax</frontName>
                </args>
            </sintax>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <sintax>Fr06_Sintax.csv</sintax>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>

        <menu>
            <catalog>
                <children>
                    <sintax_adminform translate="title" module="sintax">
                        <title>My Form</title>
                        <action>sintax/adminhtml_myform</action>
                    </sintax_adminform>
                </children>
            </catalog>
        </menu>

        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <sintax_adminform>
                                    <title>My Form</title>
                                </sintax_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <sintax>
                    <file>sintax.xml</file>
                </sintax>
            </updates>
        </layout>
    </adminhtml>
</config>