<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fr06_Final>
            <version>0.1.0</version>
        </Fr06_Final>
    </modules>
    <frontend>
        <routers>
            <final>
                <use>standard</use>
                <args>
                    <module>Fr06_Final</module>
                    <frontName>fr06-binhnh-final</frontName>
                </args>
            </final>
        </routers>
        <layout>
            <updates>
                <final>
                    <file>binhnh_final.xml</file>
                </final>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Fr06_Final after="Mage_Adminhtml">Fr06_Final</Fr06_Final>
                    </modules>
                    <!--<frontName>final</frontName>-->
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <fr06_final>
                <class>fr06_final_block</class>
            </fr06_final>
        </blocks>
        <models>
            <fr06_final>
                <class>Fr06_Final_Model</class>
                <resourceModel>fr06_final_resource</resourceModel>
            </fr06_final>
            <fr06_final_resource>
                <class>Fr06_Final_Model_Resource</class>
                <entities>
                    <albums>
                        <table>fr06_album</table>
                    </albums>
                </entities>
            </fr06_final_resource>
        </models>
        <resources>
            <fr06_final_setup>
                <setup>
                    <module>Fr06_Final</module>
                    <class>Fr06_Final_Model_Resource_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </fr06_final_setup>
            <fr06_final_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fr06_final_read>
            <fr06_final_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fr06_final_write>
        </resources>
        <helpers>
            <fr06_final>
                <class>Fr06_Final_Helper</class>
            </fr06_final>
        </helpers>
    </global>
</config>