<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fr06_Catalogs>
            <version>0.1.0</version>
        </Fr06_Catalogs>
    </modules>
    <frontend>
        <routers>
            <catalogs>
                <use>standard</use>
                <args>
                    <module>Fr06_Catalogs</module>
                    <frontName>fr06-catalog</frontName>
                </args>
            </catalogs>
        </routers>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <fr06_catalogs_config_observer>
                        <type>singleton</type>
                        <class>fr06_catalogs_model_config_observer</class>
                        <method>storeAttributes</method>
                    </fr06_catalogs_config_observer>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_product_load_after>
                <observers>
                    <fr06_catalogs_config_observer>
                        <type>singleton</type>
                        <class>fr06_catalogs_model_config_observer</class>
                        <method>changeProductPrice</method>
                    </fr06_catalogs_config_observer>
                </observers>
            </catalog_product_load_after>
            <checkout_cart_product_add_after>
                <observers>
                    <fr06_catalogs_config_observer>
                        <type>singleton</type>
                        <class>fr06_catalogs_model_config_observer</class>
                        <method>changePriceWhenAddCart</method>
                    </fr06_catalogs_config_observer>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
</config>